$ElHefe: #ffe284;
$FairytaleAle: #f7d5ff;
$GitHop: #ffafaf;

$blue-color1: #e5f0f9;
$blue-color2: #a6c6dd;
$blue-color3: #6e9bbc;
$blue-color4: #112b3e;

$orange-color1: #fcddb3;
$orange-color2: #ffc778;
$orange-color3: #f9ab3d;
$box-shadow: 0px 3px 10px 1px rgba(110, 155, 188, 0.3);

// Additional info:

// background color for background on the pages
// background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(217,228,237,1) 100%);

// for main containers
// box-shadow: 0px 3px 10px 1px rgba(110,155,188,0.3);

// for white buttons
// box-shadow: 0px 0px 4px 0px rgba(110,155,188,0.3);
