@use "./colors";
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&family=Public+Sans&display=swap");

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Open Sans", sans-serif;
  color: colors.$blue-color4;
}

li,
a {
  font-family: "Open Sans", sans-serif;
  color: colors.$blue-color4;
}

//TO CHANGE- possibly change the main font to something else
$font1: "Open Sans", sans-serif;

// ORDERS page
#queue-wrapper > h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

#queue-nr {
  font-weight: 700;
  font-size: 1.4rem;
  padding-left: 5px;
}

.order-top-bar > h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

.order-id {
  font-weight: 700;
  font-size: 1.25rem;
}

.order-time {
  font-weight: 400;
  font-size: 1rem;
}

.bartender-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.order-details-row > p {
  font-size: 1.1rem;
}

.button-break,
.button-leave,
.button-ready {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

///INVENTORY AND STATISTICS

#storageAndStat {
  h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5vw;
    font-weight: 400;
  }
}
