@use '../base/colors';
@use '../base/typography';

#history {
  background-image: linear-gradient(180deg, white 0%, #d9e4ed 100%);
  width: 100%;
  height: 100vh;
  margin-top: 2vw;
  font-family: typography.$font1;

  #content-history {
    margin-top: 70px;
    margin-left: 20px;
  }

  #search {
    text-align: left;
    margin-top: 2vw;
    margin-bottom: 1vw;
    width: 360px;
    padding: 8px;
    border: solid 1px colors.$blue-color2;
    border-radius: 10px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 120%;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: colors.$box-shadow;
  }

  tr th {
    text-align: center;
    font-weight: 200;
    padding: 12px;
    border-bottom: 1px solid colors.$blue-color3;
    text-transform: uppercase;
    font-size: 1rem;
  }
  #list tbody tr:hover td {
    background-color: colors.$orange-color0;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid colors.$orange-color2;
    cursor: pointer;
  }

  #list tbody tr:first-child td {
    border-top: 0;
  }

  #list tbody tr td {
    padding: 20px;
    margin-right: 15px;
    border-top: 1px solid colors.$blue-color2;
    text-align: center;
  }
}

#history-layout {
  display: grid;
  grid-template-columns: 65% 18%;
  gap: 2%;

  #info-box {
    h2 {
      background-color: colors.$orange-color0;
      border-radius: 10px 10px 0 0;
      border-bottom: solid 1px colors.$orange-color2;
      padding: 12px;
      font-size: 1rem;
      font-weight: 100;
    }
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: colors.$box-shadow;
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
}
