@use '../base/colors';
@use '../base/typography';

#history {
  background-image: linear-gradient(180deg, white 0%, #d9e4ed 100%);
  margin-top: 2vw;
  font-family: typography.$font1;
  min-height: 100vh;
  overflow-x: hidden;

  #content-history {
    margin-top: 80px;
    margin-left: 30px;
  }

  #search {
    text-align: left;
    width: 360px;
    height: 44px;
    padding-left: 1vw;
    margin-bottom: 2vw;
    border: solid 1px colors.$blue-color2;
    border-radius: 10px;
  }

  .top-section {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93.1%;
  }

  // BUTTONS
  #buttons {
    display: flex;
    gap: 1vw;
  }

  .button-filter {
    width: 100px;
  }

  .button-date {
    width: 130px;
  }

  .button-filter,
  .button-date {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    padding-top: 0;
    height: 44px;
    border: none;
    background-color: white;
    margin-right: 5px;
    box-shadow: 0px 0px 4px 0px rgb(110 155 188 / 50%);
    border-radius: 7px;
    cursor: pointer;
  }

  .button-filter:hover,
  .button-date:hover {
    box-shadow: 0px 0px 4px 0px rgb(110 155 188 / 100%);
  }

  .button-filter:active,
  .button-date:active {
    color: #226797;
    box-shadow: 0px 0px 4px 0px rgb(118, 180, 225);
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    width: 200%;
    background-color: white;
    border-radius: 10px;
    box-shadow: colors.$box-shadow;
    margin-bottom: 30px;
    overflow-x: auto;
    margin-right: 20px;
  }

  #table-container {
    overflow-x: auto;
  }

  tr th {
    text-align: center;
    font-weight: 200;
    padding: 12px;
    border-bottom: 1px solid colors.$blue-color3;
    text-transform: uppercase;
  }

  #list tbody tr:last-child:hover td:first-child {
    border-radius: 0 0 10px 10px;
  }
  #list tbody tr:last-child:hover td:last-child {
    border-radius: 0 0 10px 10px;
  }

  #list tbody tr:hover td {
    background-color: colors.$orange-color0;

    border-top: 1px solid colors.$orange-color2;
    cursor: pointer;
  }

  #list tbody tr:hover + tr td {
    border-top: 1px solid colors.$orange-color2;
  }

  #list tbody tr td {
    padding: 20px;
    width: 300px;
    margin-right: 15px;
    border-top: 1px solid colors.$blue-color2;
    text-align: center;
  }
  #list tbody tr:first-child td {
    border-top: 0;
  }

  #sorting th[data-action="sort"]:hover {
    cursor: pointer;
  }

  #sorting th[data-action="sort"]::after {
    content: " ↑↓";
  }

  #sorting th.sortby[data-sort-direction="asc"]::after {
    content: " ↑ ";
    color: colors.$orange-color3;
  }
  #sorting th.sortby[data-sort-direction="desc"]::after {
    content: "  ↓";
    color: colors.$orange-color3;
  }
}

#history-layout {
  // POP UP !!!!!

  #background {
    position: absolute;
    height: 100vh;
    width: 100vh;
    background-color: colors.$blue-color1;
    top: 0;
    left: 0;
  }

  #info-box {
    height: max-content;
    position: absolute;
    top: 150px;
    left: 2.5rem;
    margin: auto;
    width: 82%;

    h2 {
      border-radius: 10px 10px 0 0;

      padding: 12px;
      font-size: 1rem;
      font-weight: 100;
    }
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: colors.$box-shadow;
  }

  .beer {
    margin: 1rem;
    padding-bottom: 1.5vw;
    line-height: 2rem;
    border-bottom: solid 1px colors.$blue-color2;
  }

  .total {
    margin: 1rem;
    padding-bottom: 0.5rem;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    background-color: colors.$orange-color0;
    border-bottom: solid 1px colors.$orange-color2;
    border-radius: 10px 10px 0 0;
  }

  #close-btn {
    font-weight: 600;
    color: colors.$orange-color3;
    margin: 11px;
    // border: solid 1px colors.$orange-color3;
    border-radius: 200px;
    padding: 2px 8px 2px 8px;
  }

  #close-btn:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  #history {
    #content-history {
      margin-left: 50px;
    }

    .top-section {
      flex-direction: row;

      #search {
        margin-bottom: 0;
      }
    }

    #history-layout {
      display: grid;
      grid-template-columns: 68% 23%;
      gap: 2%;

      #background {
        display: none;
      }
      #info-box {
        height: max-content;
        position: inherit;
        width: 100%;
      }
      #table-container {
        overflow-x: unset;
      }

      table {
        width: 136.5%;
      }
    }
  }
}
