@use '../base/colors';

.list {
  ul {
    margin-left: auto;
    margin-right: auto;
    height: 80vw;
    width: 90%;
    padding: 2.5vw 1vw 1vw 1vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: colors.$box-shadow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.stock-info-wrap {
  padding-top: 3vw;
  padding-bottom: 5vw;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .list {
    ul {
      margin-left: auto;
      margin-right: auto;
      height: 44vw;
      width: 90%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .stock-info-wrap {
    padding-top: 2.7vw;
    padding-bottom: 2vw;
    margin-left: -1vw;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    ul {
      width: auto;
      height: 17.5vw;
      padding: 1vw 0vw 1vw 0vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .stock-info-wrap {
    margin-left: -1vw;
    padding-top: 1.1vw;
    padding-bottom: 1.3vw;
  }
}
