@use '../base/colors';

.circle {
  width: 12vw;
  height: 2vw;
  padding-top: 10vw;
  background: linear-gradient(180deg, #fdeebb 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 200%;
  margin-left: auto;
  margin-right: auto;
}

.tap-info-wrap {
  padding-top: 5vw;
  padding-bottom: 8vw;
}

.tap-list-container {
  ul {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;

    box-shadow: colors.$box-shadow;
    background-color: white;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .circle {
    width: 7vw;
    height: 1.5vw;
    padding-top: 5.5vw;
  }

  .tap-info-wrap {
    padding-top: 3vw;
    padding-bottom: 1.9vw;
  }

  .tap-list-container {
    ul {
      padding-top: 1.8vw;
      width: 90%;
      height: 37vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1200px) {
  .circle {
    width: 4.5vw;
    height: 1vw;
    padding-top: 3.5vw;
  }

  .tap-info-wrap {
    padding-top: 1vw;
    padding-bottom: 1.3vw;
  }

  .tap-list-container {
    ul {
      width: auto;
      height: 17.5vw;
      padding: 1vw 0vw 1vw 0vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
